@font-face { font-family: 'Recipekorea'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/Recipekorea.woff') format('woff'); font-weight: normal; font-style: normal; }

html, body {
    margin: 0
}

body {
    padding: 10px
}

#container {
    max-width: 860px;
    margin: 0 auto;
}

.gutterSizer {
    width: 2%
}

#container .item {
    width: 32%;
    margin-bottom: 2%;
}

#container .item .img {
    display: block;
    max-width: 100%
}

.loader {
    display: none
}

.loader.reveal {
    display: block
}

.link {
    font-family: 'Recipekorea';
    margin-bottom: 30px;
    font-size: .8rem
}

a {
    color: black;
    text-decoration: none;
}
