@font-face { font-family: 'Recipekorea'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/Recipekorea.woff') format('woff'); font-weight: normal; font-style: normal; }

html, body {
    margin: 0
}

body {
    padding: 10px;
}

#container {
    display: flex;
    flex-wrap: wrap;
    max-width: 860px;
    margin: 0 auto;
}

#container .item {
    position: relative;
    width: 32%;
    height: 0;
    padding-bottom: 32%;
    margin-bottom: 2%;
    margin-right: 2%
}

#container .item .img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#container .item:nth-of-type(3n) {
    margin-right: 0;
}

#container .item .img {
    display: block;
    max-width: 100%
}

.loader {
    display: none
}

.loader.reveal {
    display: block
}

.link {
    font-family: 'Recipekorea';
    margin-bottom: 30px;
    font-size: .8rem
}

a {
    color: black;
    text-decoration: none;
}
